In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
from google.colab import drive
import matplotlib.pyplot as plt
drive.mount("/content/gdrive", force_remount=True)

Mounted at /content/gdrive

In [ ]:
import datetime
cutoff = datetime.date.today() - datetime.timedelta(days=2)
if datetime.date.weekday(cutoff) ==  5: #if it's Saturday
  cutoff = cutoff- datetime.timedelta(days=2) #then make it Friday
elif datetime.date.weekday(cutoff) == 6: #if it's Sunday
  cutoff = cutoff- datetime.timedelta(days=2)  #make it Friday
cutoff

datetime.date(2020, 12, 16)

In [ ]:
import pandas as pd
import glob, os

data_dir= '/content/gdrive/My Drive/bq_distinctive/'
filename = 'StudentContact.csv'
os.chdir(data_dir)

contact=pd.read_csv(filename)

print("Column headings:")
print(contact.columns)

Column headings:
Index(['student_number', 'Mother', 'StudentCoreFields.mother_home_phone',
       'StudentCoreFields.motherdayphone', 'Father',
       'StudentCoreFields.father_home_phone',
       'StudentCoreFields.fatherdayphone', 'StudentCoreFields.guardian_fn',
       'StudentCoreFields.guardian_ln', 'StudentCoreFields.guardiandayphone',
       'Emerg_Contact_1', 'Emerg_Phone_1', 'Emerg_contact_2', 'Emerg_Phone_2',
       'StudentCoreFields.emerg_contact_3', 'StudentCoreFields.emerg_3_phone',
       'SchoolID'],
      dtype='object')

In [ ]:
import os

def createFolder(directory):

    try:
        if not os.path.exists(directory):
            os.makedirs(directory)
    except OSError:
        print ('Error: Creating directory. ' +  directory)

# Daily check

In [ ]:
# Get the summitlearning data `df`

%%bigquery --project ds-student-data df
SELECT sl.*, sde.NameOfInstitution
FROM `ds-student-data.Staging.SummitLearning` sl
LEFT JOIN `ds-student-data.StarterPack.StudentDemographicsAndEnrollment_v2` AS sde
ON sl.StudentUniqueID = sde.StudentUniqueId

In [ ]:
#Data saved in csv/excel
import pandas as pd
import glob, os

data_dir= '/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/'
os.chdir(data_dir)

In [ ]:
df.shape

(7182, 34)

In [ ]:
df.StudentUniqueId.nunique()

1434

In [ ]:
df.drop_duplicates()

     StudentUniqueId  ...      NameOfInstitution
0           50320649  ...            Irving Park
1           50272809  ...            Irving Park
2           50280551  ...            Irving Park
3           50204960  ...            Irving Park
4           50319739  ...            Irving Park
...              ...  ...                    ...
7177           16478  ...  River Heights Academy
7178           16610  ...  River Heights Academy
7179           19922  ...  River Heights Academy
7180           22999  ...  River Heights Academy
7181           19575  ...  River Heights Academy

[7177 rows x 34 columns]

In [ ]:
df.NameOfInstitution.unique()

array(['Irving Park', 'Bucktown', 'West Belden', 'Prairie',
       'River Heights Academy', 'Distinctive College Prep Harper Woods',
       None, 'Plymouth Educational Center'], dtype=object)

In [ ]:
df.StudentLastAccessTime = df.StudentLastAccessTime.str[:19]

In [ ]:
df.StudentLastAccessTime =pd.to_datetime(df.StudentLastAccessTime)

In [ ]:
df.head()

  StudentUniqueId  FirstName  ...      DateOfLastGradeChange NameOfInstitution
0        50320649    Mairead  ...  2020-11-13 08:50:14 -0800       Irving Park
1        50272809  Alexandra  ...  2020-12-16 12:26:36 -0800       Irving Park
2        50280551      Selah  ...  2020-12-16 12:19:23 -0800       Irving Park
3        50204960       Omar  ...  2020-12-16 12:23:58 -0800       Irving Park
4        50319739     Jayden  ...  2020-12-16 09:19:44 -0800       Irving Park

[5 rows x 34 columns]

In [ ]:
df['NameOfInstitution'].fillna('Art In Motion', inplace=True)

In [ ]:
df.NameOfInstitution.value_counts()

Art In Motion                            1285
Bucktown                                 1229
Irving Park                              1219
West Belden                              1179
Plymouth Educational Center               865
Prairie                                   850
Distinctive College Prep Harper Woods     295
River Heights Academy                     260
Name: NameOfInstitution, dtype: int64

In [ ]:
!ls

 2020-03-23   2020-05-15   2020-10-29
 2020-03-24   2020-05-18   2020-10-30
 2020-03-25   2020-05-19   2020-11-02
 2020-03-26   2020-05-20   2020-11-04
 2020-03-27   2020-05-21   2020-11-05
 2020-03-30   2020-05-22   2020-11-06
 2020-03-31   2020-05-26   2020-11-09
 2020-04-01   2020-05-27   2020-11-10
 2020-04-02   2020-05-28   2020-11-12
 2020-04-03   2020-05-29   2020-11-13
 2020-04-14   2020-06-01   2020-11-16
 2020-04-15   2020-06-02   2020-11-17
 2020-04-16   2020-06-03   2020-11-18
 2020-04-17   2020-06-04   2020-11-19
 2020-04-20   2020-06-05   2020-11-20
 2020-04-21   2020-06-08   2020-11-23
 2020-04-22   2020-06-09   2020-11-24
 2020-04-23   2020-06-10   2020-11-30
 2020-04-24   2020-10-07   2020-12-01
 2020-04-27   2020-10-08   2020-12-02
 2020-04-28   2020-10-09   2020-12-03
 2020-04-29   2020-10-12   2020-12-04
 2020-04-30   2020-10-14   2020-12-07
 2020-05-01   2020-10-15   2020-12-08
 2020-05-04   2020-10-16   2020-12-09
 2020-05-05   2020-10-19   2020-12-10
 2020-05-06   2020-10-20   2020-12-11
 2020-05-07   2020-10-21   2020-12-14
 2020-05-08   2020-10-22   2020-12-15
 2020-05-11   2020-10-23   2020-12-16
 2020-05-12   2020-10-26   2020-12-17
 2020-05-13   2020-10-27   AtHomeLearningContact.ipynb
 2020-05-14   2020-10-28  'Technology _ Device Check-Out Tracker.xlsx'

In [ ]:
cutoff.isoformat()

'2020-12-16'

In [ ]:
#df.StudentUniqueId =pd.to_numeric(df.StudentUniqueId)

In [ ]:
#Select students whose last log in is eariler than two days ago
miss = df[df['StudentLastAccessTime']< cutoff.isoformat()]

In [ ]:
miss.shape

(625, 34)

In [ ]:
miss.StudentUniqueId.nunique()

125

In [ ]:
md =['StudentUniqueId', 'NameOfInstitution', 'FirstName', 'LastSurname',  'GradeLevel','StudentLastAccessTime']

In [ ]:
miss =miss[md]

In [ ]:
contact.head()

  student_number               Mother  ... StudentCoreFields.emerg_3_phone SchoolID
0       60015779       Gabriela, Luna  ...                    708-495-1297     4220
1       60010981     Carrera, Cynthia  ...                    773-910-7986     4220
2       50715984  Boleyjack, Margaret  ...                    773-574-5607     4220
3       50715715        McCoy, Jackee  ...                             NaN     4220
4       50655793        Miles, Chakya  ...                    773-995-5289     4220

[5 rows x 17 columns]

In [ ]:
contact.columns =['student_number', 'Mother', 'MotherHomePhone',
       'MotherDayPhone', 'Father',
       'FatherHomePhone',
       'FatherDayPhone', 'StudentCoreFields.guardian_fn',
       'StudentCoreFields.guardian_ln', 'StudentCoreFields.guardiandayphone',
        'EmerContact1', 'EmerPhone1',
       'EmerContact2', 'EmerPhone2',
       'EmerContact3', 'EmerPhone3',
       'SchoolID']

In [ ]:
miss =miss.drop_duplicates()

In [ ]:
miss.shape

(125, 6)

In [ ]:
rv =  pd.merge(miss, contact, left_on='StudentUniqueId', right_on='student_number', how='left')

In [ ]:
keep=['StudentUniqueId','NameOfInstitution', 'FirstName', 'LastSurname', 'GradeLevel',
       'StudentLastAccessTime', 'student_number', 'Mother', 'MotherDayPhone',
       'Father', 'FatherDayPhone', 'EmerContact1', 'EmerPhone1',
       'EmerContact2', 'EmerPhone2','EmerContact3', 'EmerPhone3']

In [ ]:
rv.head()

  StudentUniqueId NameOfInstitution  ...    EmerPhone3 SchoolID
0        50410749       Irving Park  ...  312-804-3721     4913
1        50372305       Irving Park  ...           NaN     4913
2        50286680       Irving Park  ...  708-698-1491     4913
3        50258502       Irving Park  ...  773-747-0454     4913
4        50264410       Irving Park  ...  773-817-9101     4913

[5 rows x 23 columns]

In [ ]:
rv= rv[keep]

In [ ]:
rv['Name'] = rv['LastSurname'].str.cat(rv['FirstName'],sep=", ")

# Filter out students without internet access

In [ ]:
filename = 'Technology _ Device Check-Out Tracker.xlsx'

wdf=pd.read_excel(filename, sheet_name='Students without Reliable Inter', skiprows=4)

In [ ]:
wdf=wdf[['Campus', 'Student Name', 'Grade', 'Internet Access (Y/N)',
       'Reliable Internet (Y/N)']]

In [ ]:
wdf

            Campus  ... Reliable Internet (Y/N)
0     Harper Woods  ...                      No
1     Harper Woods  ...                      No
2     Harper Woods  ...                      No
3     Harper Woods  ...                      No
4     Harper Woods  ...                      No
..             ...  ...                     ...
192  Art in Motion  ...                      No
193  Art in Motion  ...                      No
194  Art in Motion  ...                      No
195  Art in Motion  ...                      No
196  Art in Motion  ...                      No

[197 rows x 5 columns]

In [ ]:
nonet =wdf[wdf['Reliable Internet (Y/N)'] == 'No']

In [ ]:
nonet = nonet[nonet.Grade.isin(['7', '8', '6', '5'])]

In [ ]:
NI = pd.merge(rv, nonet, left_on='Name', right_on='Student Name')

In [ ]:
nolist =NI['StudentUniqueId'].tolist()

In [ ]:
len(nolist)

5

In [ ]:
after = rv[~rv['StudentUniqueId'].isin(nolist)]

In [ ]:
after =after.drop(['Name'], axis=1)

In [ ]:
daily = ['Art In Motion', 'Bucktown', 'Plymouth Educational Center',
       'River Heights Academy', 'Prairie',
       'Distinctive College Prep Harper Woods', 'Irving Park',
       'West Belden']

In [ ]:
formatted_time =datetime.date.today().isoformat()

In [ ]:
outfiledir = data_dir+ str(formatted_time)+'/'
createFolder(outfiledir)

diff = []

for i in daily:
  name = str(i)+'.csv'
  mni = rv[rv.NameOfInstitution==i]
  af = after[after.NameOfInstitution==i]
  if mni.shape[0] != af.shape[0]:
    diff.append(i)
  outfilepath = os.path.join(outfiledir, name)
  print(outfilepath)
  display(mni)
  mni.to_csv(outfilepath, index=False)

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/Art In Motion.csv

    StudentUniqueId NameOfInstitution  ... EmerPhone3                     Name
36         60081459     Art In Motion  ...        NaN        Scott-Sims, Alona
37         50225952     Art In Motion  ...        NaN  Faulkner-Brown, Makaila
44         50240686     Art In Motion  ...        NaN             Baker, Sade'
45         60040857     Art In Motion  ...        NaN             Doxy, Xa'ria
46         50150118     Art In Motion  ...        NaN            Gray, Madison
47         50089538     Art In Motion  ...        NaN          Hardman, Aarion
48         50124389     Art In Motion  ...        NaN             Hall, Darien
49         60039864     Art In Motion  ...        NaN            Abney, Kalynn
50         50058743     Art In Motion  ...        NaN      Caldwell, A'Journey
51         50283774     Art In Motion  ...        NaN             Ray, Jillian
52         50265055     Art In Motion  ...        NaN            Walton, Tyria
53         50251714     Art In Motion  ...        NaN             Smith, Jalyn
107        50108600     Art In Motion  ...        NaN           Mooney, Daesha
108        50171255     Art In Motion  ...        NaN            Clay, Damonta
109        50233014     Art In Motion  ...        NaN              Love, Eriyn
110        60049295     Art In Motion  ...        NaN             Moore, Mekhi
111        50221730     Art In Motion  ...        NaN             Ali, El'isha
112        50726547     Art In Motion  ...        NaN             Burr, Kaylyn
113        50139572     Art In Motion  ...        NaN              Mark, Kelty
114        50124957     Art In Motion  ...        NaN          Murray, Kayonna
115        60034818     Art In Motion  ...        NaN           Smith, Jeanine
116        50129668     Art In Motion  ...        NaN         Williams, Akayla
117        50243831     Art In Motion  ...        NaN          Monette, Darius
118        50301647     Art In Motion  ...        NaN         Willis, Malaysia
119        50316877     Art In Motion  ...        NaN            West, Samaria
120        45364763     Art In Motion  ...        NaN         Arnold, Alayshia
121        50109576     Art In Motion  ...        NaN          Bell, Lexington
122        50231012     Art In Motion  ...        NaN            Davis, Prince
123        50242045     Art In Motion  ...        NaN         Burges, Demetria
124        50139313     Art In Motion  ...        NaN            James, Zahara

[30 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/Bucktown.csv

   StudentUniqueId NameOfInstitution  ...    EmerPhone3               Name
14        50266345          Bucktown  ...  773-387-6516      Rivera, Emani
15        50309331          Bucktown  ...  773-318-5580    Vasquez, Nicole
24        50609118          Bucktown  ...  312-952-5745    Hyman, Danielle
25        50303977          Bucktown  ...  707-443-5656    Woods, Jahkayla
26        50249928          Bucktown  ...           NaN    Nunez, Samantha
27        50607010          Bucktown  ...    3316433862     Hyman, Darzell
28        50308716          Bucktown  ...  312-804-5663   Irizarry, Mireya
29        50324095          Bucktown  ...           NaN     Hodrick, James
38        50188636          Bucktown  ...  773-615-7738    Arjona, Lorenzo
39        60050756          Bucktown  ...           NaN    Chagoya, Andres
40        50288113          Bucktown  ...  630-518-8154  Rushing, Jonathan

[11 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/Plymouth Educational Center.csv

    StudentUniqueId  ...                       Name
55         20007235  ...        Forsythe, Da'Martez
56         20006904  ...               Hill, Jordyn
57         20006105  ...            McCree, Branden
58         20006890  ...               Simmons, Zen
59         20007390  ...          Stewart, Terrance
60         20006928  ...               Bailey, Cory
61         20007377  ...              Baker, JaMari
62         20007253  ...          Binion, Christian
63         20006564  ...              Fox, DaMarion
64         20006822  ...           Harris, La'shari
65         20006338  ...            Lyttle, Makayla
66         20006259  ...             Mosby, My'Kala
67         20006109  ...          Owens-Bey, Khalil
68         20006632  ...            McGhee, Ronnell
69         20007081  ...              Burch, Damiya
70         20007068  ...       Fisher-King, Raemoni
71         20007236  ...          Forsythe, DeMario
72         20007260  ...              Mabone, James
73         20007237  ...   Martin-Armstrong, Torrie
74         20006260  ...             Mosby, Mylie'a
75         20007005  ...          Phillips, Britney
76         20007162  ...             Poole, Brandon
77         20007360  ...               Brown, Dejon
78         20007216  ...              Davis, Parker
79         20007217  ...            Dozier, Camaari
80         20006702  ...            Shamily, Darren
81         20006986  ...            Singleton, Omri
82         20006927  ...              Bailey, Colby
83         20006944  ...           Barnett, Cartier
84         20007275  ...              Binion, Jacob
85         20007353  ...           Blalock, Chanaya
86         20006532  ...             Bragg, Antonio
87         20007220  ...          Cody-Young, Zyone
88         20007267  ...            Horton, Deshawn
89         20007272  ...          Johnson, Tre'Nell
90         20005341  ...               Long, Eriana
91         20007290  ...          Marshall, Charles
92         20007261  ...               Thomas, Asia
93         20005443  ...       Washington, De'Mareo
94         20005098  ...            Aikens, Te'Vion
95         20006881  ...             Avery, De'Niya
96         20007041  ...  Chames-Aikens, Chancellor
97         20005227  ...          Chappell, DeVonte
98         20005788  ...              Jacks, Darryl
99         20007330  ...            Larock, Corzell
100        20005309  ...              Martin, Amber
101        20007097  ...           Matlock, Matthew
102        20006679  ...             Pitchford, Jon
103        20005281  ...            Smothers, Clero
104        20007106  ...            Stuckey, Hakeem
105        20005101  ...            Taylor, DeShawn
106        20006289  ...             Worthy, Jajuan

[52 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/River Heights Academy.csv

   StudentUniqueId      NameOfInstitution  ...  EmerPhone3               Name
16           23313  River Heights Academy  ...  2482195226       Bonnier, Ava
30           18286  River Heights Academy  ...         NaN  Smith, Alexzander
41           23312  River Heights Academy  ...  2482195226     Bonnier, Kiley
42           21179  River Heights Academy  ...         NaN    Glover, Allison

[4 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/Prairie.csv

   StudentUniqueId NameOfInstitution  ...     EmerPhone3                  Name
19        50387669           Prairie  ...   312-339-6834       Hartwell, Raven
20        50455201           Prairie  ...  1773-630-5650     Felix Roa, Miguel
21        50237118           Prairie  ...   312-485-7656      Hawkins, Jackiem
22        50274846           Prairie  ...   773-747-0590          Massey, Fred
23        50535117           Prairie  ...   708-513-7425         Reed, Kendall
32        50327226           Prairie  ...            NaN       Barraza, Daniel
33        50353176           Prairie  ...   708-724-2406  Hunter-Brice, Kamyya
34        50726648           Prairie  ...            NaN         Brown, Rendan
35        50328731           Prairie  ...   773-746-8542           Duran, Luis
43        50137052           Prairie  ...   708-477-7143        Perez, Ricardo

[10 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/Distinctive College Prep Harper Woods.csv

   StudentUniqueId  ...                  Name
5         50000279  ...       Linear, Zarie'a
6         50000295  ...         Brown, Tyjuan
7         50000272  ...       Burton, Damijia
8         50000353  ...        Elliott, Tyler
9         50000666  ...     Ferguson, Dalayia
10        50000175  ...  Middlebrooks, Kumari
11        50000329  ...     Page, LaJohnathan
12        50000887  ...      Price, D'Anthony
13        50000278  ...         Smith, LeTroy

[9 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/Irving Park.csv

  StudentUniqueId NameOfInstitution  ...    EmerPhone3             Name
0        50410749       Irving Park  ...  312-804-3721  Medina, Enrique
1        50372305       Irving Park  ...           NaN   Galicia, Jayle
2        50286680       Irving Park  ...  708-698-1491    Lopez, Justin
3        50258502       Irving Park  ...  773-747-0454    Medina, Kevin
4        50264410       Irving Park  ...  773-817-9101  Martinez, Jesus

[5 rows x 18 columns]

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-12-18/West Belden.csv

   StudentUniqueId NameOfInstitution  ...    EmerPhone3               Name
17        50301500       West Belden  ...  773/983/9359   Blackwell, Avery
18        50210037       West Belden  ...  773-318-7433       Leon, Marcos
31        50604522       West Belden  ...           NaN  Vasquez, Victoria
54        50335956       West Belden  ...   773 8364430       Munoz, Dylan

[4 rows x 18 columns]

In [ ]:
rv.groupby('NameOfInstitution')['StudentUniqueId'].count()

NameOfInstitution
Art In Motion                            30
Bucktown                                 11
Distinctive College Prep Harper Woods     9
Irving Park                               5
Plymouth Educational Center              52
Prairie                                  10
River Heights Academy                     4
West Belden                               4
Name: StudentUniqueId, dtype: int64

In [ ]:
df.StudentLastAccessTime.max()

Timestamp('2020-12-18 06:38:28')

In [ ]:
rv.groupby('NameOfInstitution')['StudentUniqueId'].count()

NameOfInstitution
Art In Motion                            26
Bucktown                                  6
Distinctive College Prep Harper Woods     5
Irving Park                               3
Plymouth Educational Center              44
Prairie                                  16
River Heights Academy                     4
West Belden                               3
Name: StudentUniqueId, dtype: int64

In [ ]:
from subprocess import getoutput
from IPython.display import HTML
from google.colab import drive
# need to install xattr
!apt-get install xattr > /dev/null
# get the id
fid = getoutput("xattr -p 'user.drive.id' /content/gdrive/My\\ Drive/AtHomeSummitLearning_ContactList/"+formatted_time)
# make a link and display it
HTML(f"<a href=https://drive.google.com/open?id={fid} target=_blank>link</a>")

# Copy the link!

In [ ]:
import smtplib

from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

# me == my email address
# you == recipient's email address
me =  "tshu@distinctiveschools.org"
recipients =["aclaypool@distinctiveschools.org",'jkull@distinctiveschools.org', 'sbattle@distinctiveschools.org', 'rlewis@distinctiveschools.org', 'tross-terry@distinctiveschools.org', 'edietz@distinctiveschools.org', 'sschielke@distinctiveschools.org','jharth@distinctiveschools.org','rbeucher@distinctiveschools.org','ccollins@distinctiveschools.org', 'lsowa@distinctiveschools.org','jkuebler@distinctiveschools.org','mfeinberg@distinctiveschools.org','soconnell@distinctiveschools.org','shalkias@distinctiveschools.org','kmay@distinctiveschools.org','vjames@distinctiveschools.org']

recipients.append(me)
# Create message container - the correct MIME type is multipart/alternative.
msg = MIMEMultipart('alternative')
msg['Subject'] = "AtHome SummitLearning "+formatted_time+" Updates"
msg['From'] = me
msg['To'] = ", ".join(recipients)
msg['Cc'] = me

# Create the body of the message (a plain-text and an HTML version).
html = """\
<html>
  <head></head>
  <body>
    <p>Good morning,<br>
       Here is the list of contacts for students who have not logged in last Thursday and Friday. The <a href=https://drive.google.com/drive/u/1/folders/1S9VKuk-RErFHP1BVlPye4tQyalJIBSLs target=_blank>folder</a> has 1 file for West Belden, since there are no students without reliable internet access are on West Belden's list for today; and 2 files for other four schools, the one with suffix is the list after filtering.
       Let me know if you have any questions. Stay healthy.<br>
        <br>
       Best,<br>
       Tianchu
    </p>
  </body>
</html>
"""

# Record the MIME types of both parts - text/plain and text/html.
part2 = MIMEText(html, 'html')

# Attach parts into message container.
# According to RFC 2046, the last part of a multipart message, in this case
# the HTML message, is best and preferred.
msg.attach(part2)
# Send the message via local SMTP server.
mail = smtplib.SMTP('smtp.gmail.com', 587)

mail.ehlo()

mail.starttls()

mail.login('tshu@distinctiveschools.org', "bnouofdkjuvlhyws")
mail.sendmail(me, recipients, msg.as_string())
mail.quit()

# ST Math change

In [ ]:
#Data saved in csv/excel
import pandas as pd
import glob, os

data_dir= '/content/gdrive/My Drive/AtHomeSTMath/'
os.chdir(data_dir)

In [ ]:
cutoff = datetime.date.today() - datetime.timedelta(days=7)
cutoff

In [ ]:
# Get the summitlearning data `df`
# Change the condition on the weekof every week

%%bigquery --project ds-student-data stmath
SELECT * 
FROM `ds-student-data.Distinctive.STMathDashboard`
WHERE WeekOf = '2020-06-01'

In [ ]:
stmath.head()

In [ ]:
# Get the summitlearning data `df`
# Change the condition on the weekof last week for baseline

%%bigquery --project ds-student-data last
SELECT * 
FROM `ds-student-data.Distinctive.STMathDashboard`
WHERE WeekOf = '2020-05-25'

In [ ]:
keep = ['StudentNumber','CurrentProgress', 'CurrentMastery']

In [ ]:
last =last[keep]

In [ ]:
last.columns = ['StudentNumber','LastweekProgress', 'LastweekMastery']

In [ ]:
last.head()

In [ ]:
stmath['LastLoginDate'] =pd.to_datetime(stmath['LastLoginDate'])
stmath['LastLoginDate'].max()

In [ ]:
stmath.Campus.unique()

In [ ]:
#Select students whose last log in is eariler than 
mm = stmath[stmath['LastLoginDate']< cutoff.isoformat()]

In [ ]:
mm = mm[['StudentNumber', 'LastLoginDate','Campus','Teacher','StudentName']]

In [ ]:
notlogin =  pd.merge(mm, contact, on='StudentNumber', how='left')

In [ ]:
notlogin.shape

In [ ]:
formatted_time =datetime.date.today().isoformat()

In [ ]:
for i in diff:
  name = str(i)+'_filtered.csv'
  outfilepath = os.path.join(outfiledir, name)
  print(outfilepath)
  mni = after[after.NameOfInstitution==i]
  display(mni)
  mni.to_csv(outfilepath, index=False)

/content/gdrive/My Drive/AtHomeSummitLearning_ContactList/2020-10-07/Prairie_filtered.csv

   StudentUniqueId NameOfInstitution  ...        EmerContact3    EmerPhone3
13        50275048           Prairie  ...       John, Hopkins  312-371-5729
14        50387669           Prairie  ...                 NaN  312-339-6834
15        50306062           Prairie  ...     Gordly, Patrice  773-454-2876
16        50353176           Prairie  ...  McPherson, Latasha  708-724-2406
17        50252756           Prairie  ...       Isabel, Perez  773-531-8142
18        50252785           Prairie  ...       Cesar, Burgos  708-690-8660

[6 rows x 17 columns]

In [ ]:
outfiledir = data_dir+ str(formatted_time)+'/NotLogIn/'
createFolder(outfiledir)

for i in notlogin.Campus.unique():
  name = str(i)+'.csv'
  outfilepath = os.path.join(outfiledir, name)
  print(outfilepath)
  mni = notlogin[notlogin.Campus==i]
  display(mni)
  mni.to_csv(outfilepath, index=False)

## 1 who logged in last week but didn't make at least 1 percent progress (current progress - last week current progress)<1

In [ ]:
#Select students who logged in 
stmath = stmath[stmath['LastLoginDate']>= cutoff.isoformat()]

In [ ]:
kk= ['StudentNumber','LastLoginDate', 'Campus', 'Teacher', 'StudentName', 'CurrentProgress', 'CurrentMastery']

In [ ]:
st = stmath[kk]

In [ ]:
st.head()

In [ ]:
miss =  pd.merge(st,last, left_on='StudentNumber', right_on='StudentNumber', how='left')

In [ ]:
miss['ProgressChange'] = miss['CurrentProgress'] - miss['LastweekProgress']
miss['MasteryChange'] = miss['CurrentMastery'] -miss['LastweekMastery']

In [ ]:
miss = miss[miss['ProgressChange'] < 1]

In [ ]:
miss.tail()

In [ ]:
miss=miss[['StudentNumber','StudentName','Campus','Teacher','ProgressChange','MasteryChange']]

In [ ]:
stmiss =  pd.merge(miss, contact, on='StudentNumber', how='left')

In [ ]:
stmiss.tail()

In [ ]:
stmiss.groupby('Campus')['StudentNumber'].count()

In [ ]:
outfiledir = data_dir+ str(formatted_time)+'/NoProgress/'
createFolder(outfiledir)

for i in stmiss.Campus.unique():
    name = str(i)+'.csv'
    outfilepath = os.path.join(outfiledir, name)
    print(outfilepath)
    mni = stmiss[stmiss.Campus==i]
    display(mni)
    mni.to_csv(outfilepath, index=False)

In [ ]:
cutoff

# Change

In [ ]:
# Get the summitlearning data `df`

%%bigquery --project ds-student-data df
SELECT * 
FROM `ds-student-data.Distinctive.change`

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
target = ['NumericGradeChange', 'PowerFAsMasteredChange', 'PowerFAsBehindChange',
       'AdditionalFAsMasteredChange', 'CogSkillPercentageChange','ConceptPercentageChange']

In [ ]:
# Add some text for labels, title and custom x-axis tick labels, etc.
fig, ax = plt.subplots()
for col in target:
  print(col+' has '+str(df[df[col] == 0].shape[0])+ ' rows of zero.')
  mni = df[df[col] != 0][col]
  mni.value_counts().plot(kind='bar', title='Count'+col)
  print(' ')
  plt.show()

In [ ]:
df[df['NumericGradeChange']==0].shape[0]

In [ ]:
df['NumericGradeChange'].value_counts()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
fig, ax = plt.subplots(figsize=(10,8))
plt.suptitle('Distribution')
sns.boxplot(x=df["CourseTitle"], y=df["NumericGradeChange"], color="orange")
#sns.plt.show()